h1, h3 {
  color: #FFD700; /* Amarelo dourado para títulos */
}
h2, h4, h5, h6 {
  color: #C0C0C0; /* Amarelo dourado para títulos */
}
header {
  background-color: #333;
  padding: 20px;
}
table {
  background-color: #fff;
  border: 1px solid #eee;
  margin: 10px;
  width: 100%;
}
table th, table tr, table td {
  border: 1px solid #eee;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}